<section
  class="flex bg-primary relative w-screen h-screen z-0 items-center justify-center flex-col md:flex-row-reverse"
>
  <div class="flex w-full md:w-6/12 justify-center pl-0 md:pl-24 lg:pl-0">
    <img
      class="size-[300px] md:size-[600px] object-cover img-profile"
      src="profile.jpg"
      alt="foto de perfil"
    />
  </div>
  <div class="w-full mt-4 items-center md:w-6/12 flex flex-col text-white">
    <div
      class="flex flex-col w-11/12 max-w-[800px] ml-0 md:ml-14 gap-3 p-4 text-center md:text-left"
    >
      <h2 class="text-2xl pr-0 md:text-4xl font-bold">
        {{ "home.presentation" | translate }}
      </h2>
      <h1 class="text-profession text-4xl md:text-5xl lg:text-7xl">
        {{ "home.profession" | translate }}
      </h1>
      <p class="text-gray-100 text-md md:text-lg">
        {{ "home.description" | translate }}
      </p>
      <div class="flex flex-col md:flex-row mt-5 gap-4 items-center">
        <button
          class="flex items-center justify-center max-w-50 gap-3 px-8 py-3 border border-1 border-custom-color rounded-3xl"
        >
          <span class="cursor-pointer text-md links">{{
            "home.downloadCV" | translate
          }}</span>
          <span class="links text-md pi pi-download"></span>
        </button>
        <div class="flex mt-2 gap-4 links justify-center">
          @for (network of networks; track $index) {
          <button
            class="flex items-center justify-center w-9 h-9 rounded-full border border-primary cursor-pointer"
          >
            <span [class]="network.icon"></span>
          </button>
          }
        </div>
      </div>
    </div>
  </div>
</section>
<div class="w-full absolute bottom-12 flex justify-center">
  <button
    class="flex justify-center items-center w-10 h-10 cursor-pointer border border-primary rounded-full"
  >
    <span class="text-md text-primary pi pi-arrow-down"></span>
  </button>
</div>
<section class="flex py-4 xl:py-20 w-full justify-center bg-secundary">
  <div class="flex flex-col xl:flex-row mt-10 w-11/12 2xl:w-8/12">
    <div class="flex mt-4 pb-0 xl:pb-8 justify-center w-full">
      <div
        class="flex w-[340px] lg:w-[400px] xl:w-[500px] holographic-container holographic-card"
      >
        <img
          class="w-full h-full img-aboutme object-cover"
          src="yo.PNG"
          alt="yo"
        />
      </div>
    </div>
    <div class="mt-8 w-full px-8 pb-10 xl:pb-0">
      <h3 class="title-sections text-5xl">Quien soy</h3>
      <p
        [innerHTML]="aboutMe"
        class="mt-10 text-lg xl:text-xl text-justify text-gray-300"
      ></p>
      <div></div>
    </div>
  </div>
</section>
<section class="flex flex-col py-16 w-full items-center bg-primary">
  <div class="max-w-[650px] flex flex-col px-8 text-center items-center">
    <h3 class="title-sections text-5xl">Mis Proyectos</h3>
    <p class="mt-10 text-lg lg:text-xl text-gray-300">
      Explora los proyectos recientes que he completado, demostrando mi
      habilidad para resolver problemas complejos y entregar soluciones de alta
      calidad.
    </p>
    <div
      #buttonsGroup
      class="bg-black h-11.5 mt-10 bg-black relative flex text-gray-200 items-center rounded-full gap-6"
    >
      <div
        #selected
        class="bg-gradient-primary w-[44.3px] h-10 left-0 mx-0.5 bg-red-300 absolute z-1 rounded-full transition-transform duration-500 ease-in-out"
      ></div>
      @for (type of typesProyects; track $index) {
      <button
        (click)="selectedType($index)"
        class="flex px-3 z-3 items-center justify-center rounded-full cursor-pointer"
      >
        <span class="text-lg">{{ type.name }}</span>
      </button>
      }
    </div>
  </div>
  <div
    class="mt-12 w-10/12 h-full gap-10 grid grid-cols-1 justify-center sm:grid-cols-2 lg:grid-cols-3"
  >
    @for (proyect of allProyects; track $index) {
    <app-card-proyects
      class="flex w-full h-[500px] justify-center"
    ></app-card-proyects>
    }
  </div>
</section>
<section
  class="flex flex-col w-full bg-secundary py-20 lg:flex-row justify-center"
>
  @for (experience of experienceList; track $index) {
  <div class="flex flex-col items-center w-full lg:w-5/12">
    <div class="flex items-center justify-center gap-3">
      <span class="text-primary text-3xl pi pi-sparkles"></span>
      <h3 class="title-sections text-5xl">{{ experience.titleExperience }}</h3>
    </div>
    <div class="mt-12 flex w-10/12 flex-col gap-6 pb-8">
      @for (exp of experience.experience; track $index) {
      <app-card-experience
        [data]="exp"
        class="flex w-full justify-center"
      ></app-card-experience>
      }
    </div>
  </div>
  }
</section>
<section class="flex flex-col py-16 w-full items-center bg-primary">
  <div class="flex max-w-[650px] flex-col px-8 text-center items-center">
    <h3 class="title-sections text-5xl">Mis habilidades</h3>
    <p class="mt-10 text-lg lg:text-xl text-gray-200">
      We put your ideas and thus your wishes in the form of a unique web project
      that inspires you and you customers.
    </p>
  </div>
  <div class="flex flex-col w-full">
    @for (skill of allSkills.skills; track $index) {
    <div class="mt-12 flex w-full items-center flex-col">
      <h4 class="title-sections text-4xl">{{ skill.titleSkill }}</h4>
      <div class="mt-12 flex w-full justify-center flex-wrap flex gap-6">
        @for (tec of skill.tecnologies; track $index) {
        <div class="flex flex-col items-center">
          <app-card-skills [tecnology]="tec"></app-card-skills>
          <div class="mt-4 flex w-full flex justify-center">
            <span class="text-xl text-primary">{{ tec.name }}</span>
          </div>
        </div>

        }
      </div>
    </div>
    }
  </div>
</section>
<section class="flex w-full py-16 justify-center bg-secundary">
  <div
    class="flex flex-col items-center bg-primary w-[750px] p-4 mb-10 rounded-xl"
  >
    @if(statusEmail !== 'send'){
    <div class="mt-10 flex flex-col items-center justify-center">
      <h3 class="title-sections text-5xl text-center">
        Hablemos de tu Proyecto
      </h3>
      <p></p>
    </div>
    <form
      class="mt-10 w-9/12 grid grid-cols-2 gap-4"
      [formGroup]="formContact"
      (ngSubmit)="onSubmit()"
    >
      @for (input of inputContact ; track $index) {
      <input
        type="text"
        class="bg-secundary p-3 text-gray-300 rounded-lg ring-primary"
        [placeholder]="input.name"
        [formControlName]="input.name"
      />
      }
      <app-select-custom
        class="w-full bg-secundary text-gray-300 col-span-2 ring-primary"
        [options]="typesApplication"
        formControlName="type"
      >
      </app-select-custom>
      <textarea
        class="flex bg-secundary h-[200px] p-3 w-full resize-none rounded-lg col-span-2 text-gray-300 ring-primary"
        placeholder="Mensaje"
        formControlName="message"
      ></textarea>
      <div class="mt-2 flex w-full justify-center col-span-2">
        <button type="submit" class="border border-primary px-6 py-2 rounded-full">
          <span class="text-gray-300 text-md">Enviar mensaje</span>
        </button>
      </div>
    </form>
    }
  </div>
</section>
<section class="bg-primary h-[300px] flex flex-col items-center">
  <div>
    <img src="" alt="" />
  </div>
  <div class="mt-5">
    <ul class="flex text-white gap-4">
      <a href="">buenas</a>
      <a href="">asdfas</a>
      <a href="">asdfasd</a>
      <a href="">asdfasd</a>
    </ul>
  </div>
  <span class="mt-5 text-white"
    >© 2025 Todos los derechos reservados por ElvisRD.</span
  >
</section>
