.effect-1{
  position: absolute;
  border-radius: 100%;
  width: 300px;
  height: 300px;
  background: #836bc1;
  filter: blur(200px);
  top: 5px;
  right: 0px;
}
.effect-2{
  position: absolute;
  border-radius: 100%;
  width: 300px;
  height: 300px;
  background: #836bc1;
  filter: blur(200px);
  bottom: 100px;
  left: 500px;
}

.img-profile{
  width: 350px;
  height: 350px;
  border-radius: 20px;
  transform: rotate(4deg);
  background-image: url('../../public/profile.jpg');
  background-size: cover;
  background-position: center;
  border: 1px solid #342b46;

}

.text-profession{
  background: linear-gradient(to right, #836bc1, #c0c0c0); 
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: bold;
  text-align: center;
}

.links{
  color: #836bc1
}

.border-custom-color{
  border-color: #836bc1;
}
