.effect-1{
  position: absolute;
  border-radius: 100%;
  width: 300px;
  height: 300px;
  background: #836bc1;
  filter: blur(200px);
  top: 5px;
  right: 0px;
}
.effect-2{
  position: absolute;
  border-radius: 100%;
  width: 300px;
  height: 300px;
  background: #836bc1;
  filter: blur(200px);
  bottom: 100px;
  left: 500px;
}
