.effect-1{
  position: absolute;
  border-radius: 100%;
  width: 300px;
  height: 300px;
  background: #836bc1;
  filter: blur(200px);
  top: 5px;
  right: 0px;
}
.effect-2{
  position: absolute;
  border-radius: 100%;
  width: 300px;
  height: 300px;
  background: #836bc1;
  filter: blur(200px);
  bottom: 100px;
  left: 500px;
}

.img-profile{
  border-radius: 20px;
  object-fit: cover;
  transform: rotate(4deg);
  border: 1px solid #342b46;
}

.text-profession{
  background: linear-gradient(to right, #8e5dee, #c3bacb); 
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: bold;
}

.links{
  color: #836bc1
}

.border-custom-color{
  border-color: #836bc1;
}
