@use "tailwindcss";
@use "primeicons/primeicons.css";


$color-primary : #836bc1;
$color-secundary : #060709;
$color-tertiary : #140c1d;

.bg-primary {
  background-color:  #0f0716;
}

.bg-secundary{
  background-color: #060709;
}

.bg-tertiary{
  background-color: #140c1d;
}

.ring-primary:focus {
  outline-color: #836bc1 !important;
  outline-width: 2px !important;
  outline-style: solid
}

.text-primary {
  color: #836bc1;
}

.border-primary {
  border-color: #836bc1;
}

button{
  cursor: pointer;
}

.pi {
    transform: translateZ(0); 
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}