<div class="flex flex-col animated-card items-center max-w-[300px] min-h-[390px] p-4 bg-primary rounded-xl holographic-container holographic-card">
  <div class=" flex mt-4 justify-center items-center size-[80px] text-primary text-5xl">
    <ng-icon [name]="service.icon"></ng-icon>
  </div>
  <div class="flex flex-col w-10/12 flex mt-4 items-center text-gray-300">
    <div class="flex w-full items-center min-h-[70px]">
      <h4 class="text-gray-300 text-2xl text-center">{{service.name}}</h4>
    </div>
    <p class="mt-7 text-lg text-justify text-gray-300">{{service.description}}</p>
  </div>
</div>
